@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #262164;
}

.headblock {
    display: flex;
    flex-direction: row;
    background-color:#262164;
    width: 100%;
    border-color: #E8B812;
    border-style: solid;
    border-width: 0px 0px 10px 0px;
    position: sticky;
    top:0;
    z-index:5;
}

.headerTittle{
    font-family:'Love Ya Like A Sister', cursive;
    font-size: 50px;
    line-height: 50px;
    color: aliceblue;
    align-self: center;
    padding: 10px;
}

.btnLogOut{
    align-self: center;
    justify-self:flex-end;
    position: absolute;
    right: 50px;
    width: 150px;
    height: 40px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    background-color: #e3bb27;
    font-size: large;
}

.notesBoard{
    background-color:#262164;
    width: 100;
    height:100;
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: center;
}

.creationContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.inputs{
    background-color:#c779d0dc;
    display:flex;
    flex-direction:column;
    justify-items: center;
    align-items: center;
    align-self: flex-start;
    justify-self: center;
    border-radius: 10px;
    width: 500px;
    height: 250px;
    padding: 40px;
    
}

.writeNote {
    width: 400px;
    height: 200px;
    justify-self: center;
    font-size: x-large;
    font-family: Nunito;
    border:none;
    margin: 5px;
}

.writeTittle {
    width: 400px;
    height: 50px;
    justify-self: center;
    font-size: x-large;
    font-family: Nunito;
    border: none;
    margin: 5px;

}

.btnCreate{
    border-radius: 30px;
    font-size: x-large;
    color: aliceblue;
    border: solid;
    border-width: 5px;
    border-color: #B96ADF;
    background: transparent;
    padding: 8px;
    width: 35%;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    text-align:left;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    margin: 40px ;
}
.btnCreate:hover{
    background:  linear-gradient(to right, #FEAC5E, #C779D0, #4BC0C8);
}
.btnCreate:focus{
    background:  linear-gradient(to right, #FEAC5E, #C779D0, #4BC0C8);
}
.post{
    background-color: #ffffffdb;
    color: black;
    border-radius: 6px;
    border-color: #E8B812;
    border-style: solid;
    border-width: 3px;
    margin: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.postWall{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footNotes{
    background-color: #B96ADF;
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.noteTittle{
    font-family: Nunito;
    font-size: x-large;
    font-weight: bold;
    padding: 10px;
}

.noteDescription{
    font-family: Nunito;
    font-size: medium;
    font-weight:500;
    padding: 10px;
}
.deleteBtn{
    font-family: 'Nunito', sans-serif;
    font-size: large;
    align-self: flex-end;
    background-color: #ba6adfab;
    padding: 3px;
    font-weight: bold;
    margin: 5px;
}

@media only screen
and (min-width: 768px)
and (max-width: 1024px)
and (orientation: portrait){

.postWall{
    display: grid;
    grid-template-columns: 1fr 1fr;
    }

.headerTittle{
    font-family:'Love Ya Like A Sister', cursive;
    font-size: 60px;
    line-height: 60px;
    color: aliceblue;
    align-self: center;
    padding: 25px;  
    margin: 5px;
;  
        }    
    
}


